

// Breakpoints:

// Phones
$screen-sm-min: 576px;

// Tablets (portrait view)
$screen-md-min: 768px;

// Small laptops (& landscape view for tablets)
$screen-lg-min: 992px;

// Laptops and desktops
$screen-xl-min: 1200px;


// Media Queries:

@mixin devices($screen) {
  @if $screen == extrasmall {
    @media only screen and (max-width: #{$screen-sm-min - 1px}) { @content; }
  }
  @else if $screen == small {
    @media only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min - 1px}) { @content; }
  }
  @else if $screen == medium {
    @media only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-lg-min - 1px}) { @content; }
  }
  @else if $screen == large {
    @media only screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-xl-min - 1px}) { @content; }
  }
  @else if $screen == extralarge {
    @media only screen and (min-width: #{$screen-xl-min}) { @content; }
  }
}

@mixin customdevice($minscreen, $maxscreen) {
    @media only screen and (min-width: #{$minscreen}) and (max-width: #{$maxscreen}) { @content; }
}
