//Variables

$bgcolor: #f1f1f1;
$pagebgcolor: #FFFFFF;
$pinkcolor: #ed509f;
$topnavcolor: #777777;
$topnavsize: 1em;
$bottomnavcolor: #000000;
$titlesize: 1.7em; //section icindeki title
$subtitlesize: 1em; //section icindeki subtitle
$titlecolor: #000000;
$booktitlecolor: #ed509f; //urun listesi icindeki book title
$booktitlesize: 0.9em;
$bookpricecolor: #000000;
$bookpricesize: 1.5em;
$bookdiscountsize: 1.3em;
$bookdiscountcolor: #777777;
$blackareacolor: #232323;
